/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
    Created By: Flexbox
    Accessed On: 07 April, 2021
    how create sticky footer
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

input:focus{
    outline: none;
}
  
main {
    flex: 1;
}
/* https://www.w3docs.com/snippets/css/how-to-disable-the-resizing-of-the-textarea-element.html
    Created By: W3docs
    Accessed On: 31 March, 2021 
    how to make textearea of fix size*/
textarea {
    resize: none;
    overflow: hidden;
}

.yellow{
    color: #F0A202;
}

.app-name{
    font-size: 30px;
    font-weight: bold;
}

nav{
    height: 90px;;
}

.search-form{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 40%;
    height: 40px; 
}

#searchBy{
    position: absolute;
    right: 0;
    height: 100%;
    width: 45%;
    padding-left: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(121, 121, 121);
    color: white;
}

#srch{
    width: 100%;
    height: 100%;
    padding-left: 15px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,.55);
}

#searchBy:focus, #srch:focus {
    outline: none;
}

.sign, .login{
    padding-right: 15px;
    margin-left: 15px;  
    border-radius: 20px; 
    background-color: #F0A202;
    color: white; 
    padding: .5rem 1rem;  
    text-decoration: none;
    border: 2px solid #F0A202;
}

.sign:hover, .login:hover{
    background-color: white;
    border: 2px solid #F0A202;
    color: #F0A202;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #F0A202;
}

.navbar-light .navbar-nav .nav-link{
    font-weight: 600;
}

.search-form option{
    background-color: white;
    color: #293241;
}

footer{
    background-color: rgb(0, 3, 48);
    color: rgba(255, 255, 255, 0.479); 
}




/*****************************Home************************** */
.index-container{
    margin: 50px auto;
}

#post-blog{
    border: 1px solid black;
    width: 50%;
    margin: 35px auto;
    position: relative;
}

#post-blog button{
    position:absolute;
    right: -100px;
    bottom: 30px;
}

#blog-posting:focus{
    outline: none;
}

.input-form{
    position: relative;
    height: 120px;
    display: inline-block;
}

.username{
    background-color: #F0A202;
    color: white;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    font-size: 45px;
    position: absolute;
    top: 20px;
    left: 20px;
}

#blog-posting{
    margin: 23px 0px 0px 120px;
    height: 80px;
    width: 400px;
    border: none;
}

.submit-post, #submitAdmin, #addUserStart{
    padding-right: 15px;
    margin-left: 15px;  
    border-radius: 20px; 
    border: none;
    background-color: rgb(0, 3, 48);
    color: white; 
    padding: .5rem 1rem;  
    text-decoration: none;
}

.submit-post:focus, #submitAdmin:focus, #addUserStart:focus{
    outline: none;
}


/* *****************************Login Page ****************************************** */
.login-heading{
    margin-bottom: 30px;
    color: rgb(31, 31, 31);
}

.main-login{    
    width: 35%;
    text-align: center;
    margin: 100px auto;
}

.password, .uname{
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 20px;
    border: 1px solid rgb(201, 201, 201);
    margin-bottom: 12px;
}

.password:focus, .uname:focus{
    color: #212529; 
    background-color: #fff;
    border-color: #76acfd;
}

.login{
    width: 30%;
}

.login:focus{
    outline: none;
}

/* *************************************admin************************************************ */
.ask-create{
    width: 40%;
    text-align: center;
    margin: 30px auto;
}

.create-user{
    width: 40%;
    margin: 30px auto;
}

.user-input{
    width: 100%;
    margin: 10px 0;
    height: 40px;
    border-radius: 20px;
    padding: 15px;
    border: 1px solid rgb(167, 167, 167);  
}

.user-input:focus{
    border-color: #76acfd;
    box-shadow: 0 0 5px #76acfd;
}


#fname{
    margin-right: 5px;
}

#lname{
    margin-left: 5px;
}

#admin, #blogger{
    margin-top: 15px;  
}

#submitAdmin{
    margin-top: 20px;
}

#addUserStart:hover{
    background-color: #F0A202;
}   

#adminTable{
    width: 70%;
    margin: 50px auto;
}

td, th{
    width: 60px;
    padding: 5px 15px;
}


#adminTable tr:nth-child(even){
    background-color: #e9e9e9;
}

th{
    background-color: rgb(0, 3, 48);
    color: #fff;
}



/************************************************************ profile************************************************************* */
.user-letter{
    background-color: #F0A202;
    color: white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    font-size: 45px;
    margin-bottom: 15px; 
}

.profile-container{
    width: 60%;
    margin: 50px auto;
}

.info-display{
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    margin-bottom: 20px;
}

.info-display h3{
    height: 100%;
    margin: auto;
    text-align: center;
    line-height: 1;  
}

.info-display a{
    text-decoration: none;
    color: #212529;
}

.lable-profile{
    font-size: 18px;
}

.action-button button, .action-button input{
    padding-right: 15px;
    margin-right: 15px;  
    border-radius: 20px; 
    border: none;
    background-color: rgb(0, 3, 48);
    color: white; 
    padding: .5rem 1rem;  
    text-decoration: none;
}

#activityFeed{
    margin-top: 40px;
}

.post-detail{
    margin-bottom: 3px;
    font-size: 15px;
}

.post-content{
    font-size: 20px;
    margin-bottom: 12px;
}


/* *************************************following******************************************** */

.following-main{
    margin: 50px auto;
    width: 60%;
}

.like-btn{
    padding: 3px 8px;
    border-radius: 3px; 
    background-color: #F0A202;
    color: white; 
    text-decoration: none;
    border: 2px solid #F0A202;
}

.view-btn{
    padding: 3px 8px;
    margin-left: 15px;  
    border-radius: 3px; 
    background-color: rgb(0, 3, 48);
    color: white; 
    text-decoration: none;
}